.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 4px;
}

.progress-bar-container {
  width: 100%;
  height: 100%;
  background-color: #333;
  overflow: hidden;
}

.progress-bar {
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform-origin: left;
  transform: scaleX(0);
}

.loader-counter {
  position: absolute;
  bottom: 10%;
  left: 5%;
  font-size: 120px;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.05em;
}